<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <div th:replace="fragments/updatedBootstrapHeader :: scriptHeader"></div>
    <script type="text/javascript" src="/script/lib/protovis-3.2/protovis-d3.2.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="/script/lib/lodash.underscore.min.js"></script>
</head>
<body>
<div th:replace="fragments/updatedBootstrapHeader :: uiHeader"></div>
<br/><br/><br/>
<input sec:authorize="isAuthenticated()" type="hidden" id="isAnonymous" name="isAnonymous" value="false"/>
<input sec:authorize="isAnonymous()" type="hidden" id="isAnonymous" name="isAnonymous" value="true"/>
<input type="hidden" id="userId" name="userId" th:value="${userId}"/>
<div class="bodyContent">
    <div id="radarAppContent"></div>
    <script type="text/javascript" charset="utf-8" src="/script/dist/RadarApp.js"></script>
</div>
<div th:replace="fragments/footer :: uiFooter"></div>
</body>
</html>
